/proj/WinForms/.vs
/proj/WinForms/IdleTool/bin
/proj/WinForms/IdleTool/obj
/bin - 바로 가기.lnk
/*.pdb
win-arm64
win-x64
win-x86
IdleTool.deps.json
IdleTool.exe
/proj/WinForms/ProcessChecker/obj
/proj/WinForms/ProcessChecker/bin
__pycache__
/proj/python/captures
/proj/python/dist
/proj/python/build
/proj/python/Null
/proj/python/*.spec
/Tesseract-OCR
