/proj/WinForms/.vs
/proj/WinForms/IdleTool/bin
/proj/WinForms/IdleTool/obj
/bin - 바로 가기.lnk
/*.pdb
win-arm64
win-x64
win-x86
IdleTool.deps.json
IdleTool.exe
/proj/WinForms/ProcessChecker/obj
/proj/WinForms/ProcessChecker/bin
__pycache__
/proj/python/captures
/proj/python/dist
/proj/python/build
/proj/python/Null
/proj/python/*.spec
/Tesseract-OCR
/proj/python/app_settings.ini
/proj/python/lordnine_settings.ini
/proj/_devapp_/*.spec
/proj/_devapp_/build
/proj/_devapp_/captures
/proj/_devapp_/dist
/proj/_devapp_/data
/proj/_devapp_/lordnine_settings.ini
/proj/_devapp_/utils
/proj/_devapp_/data - *
app_settings.ini
/proj/Netmarble/RF온라인넥스트/core
/proj/Netmarble/RF온라인넥스트/grinder_types
/proj/Netmarble/RF온라인넥스트/grinder_utils
/proj/Netmarble/RF온라인넥스트/scripts
/proj/Netmarble/RF온라인넥스트/stores
/proj/Netmarble/RF온라인넥스트/ui
/proj/Netmarble/RF온라인넥스트/build
/proj/Netmarble/RF온라인넥스트/dist
